<!-- フォローする場合、cntrollerにpostで送信→form_for 
     hidden_field_tag→隠しフィールドのinputタグ、ブラウザ上に表示させない-->

<%= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, user.id %></div>
  <%= f.submit "Follow", class: "btn btn-primary" %>
<% end %>